build/
cmake-build-debug/
.idea/
*.iml
*.kdev4
target/
gerber/
*.sch-bak
*.kicad_pcb-bak
fp-info-cache
*.bck
*.asc
*.bin
*.blif
*.o
*.log
*.json

*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
