<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.current.enterprise.MyBatisEnterpriseXMLMapper">

    <insert id="insertMeasure" parameterType="org.example.dto.Measure">

        INSERT INTO measure (type, date, value, duration)
        VALUES
        (#{model.type},
        #{model.date},
        #{model.value},
        #{model.duration});

    </insert>


</mapper>
