set_io CLK 66

set_io --warn-no-port RX 54
set_io --warn-no-port TX 56

set_io LED1 51
set_io LED2 52
set_io LED3 53


set_io d7 100
set_io d6 99
set_io d5 97
set_io d4 96
set_io d3 95
set_io d2 94
set_io d1 93
set_io d0 91

set_io ce 90
set_io cle 89
set_io we 87
set_io re 86
set_io ale 85

