set_io LED1 48
set_io LED2 45
set_io LED3 47
set_io LED4 44


set_io lvds_in 4

set_io xtal_in 35

#set_io tx_out 46

#spi
#set_io SPI_SS 16
#set_io SPI_SCK 15
#set_io SPI_MOSI 14
#set_io SPI_MISO 17
