#set_io LED1 48
#set_io LED2 45
set_io LED2 47       # 2A
set_io LED3 44       # 3B


set_io lvds_in 48  # TRUE: 4A; FALSE: 5B

set_io xtal_in 35   # PCB

set_io tx_out 46      #  0A

#spi
#set_io SPI_SS 16
#set_io SPI_SCK 15
#set_io SPI_MOSI 14
#set_io SPI_MISO 17
