<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html >
        <html xmlns:th="http://www.thymeleaf.org">
        <head>
        <meta charset="UTF-8">
        <title>All Current Tasks</title>
</head>
<body>

<form method="post" action="/measure/add">
    <div>
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" size="10">
    </div>
    <div>
        <label for="description">Description: </label>
        <input type="text" id="description"
               name="description" size="20">
    </div>
    <div>
        <label for="priority">Priority: </label>
        <select id="priority" name="priority">
            <option name="Low">Low</option>
            <option name="Medium">Medium</option>
            <option name="High">High</option>
            <option name="Vital">Vital</option>
        </select>
    </div>
    <input type="submit">
</form>
<div>[(${someValue})]</div>
<h1>All Current Tasks</h1>
<table>
    <thead>
    <tr>
        <th>Name</th><th>Description</th><th>Priority</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="measure: ${measures}">
        <td th:text="${measure.type}"></td>
        <td th:text="${measure.date}"></td>
        <td th:text="${measure.value}"></td>
        <td th:text="${measure.duration}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>