<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html >
        <html xmlns:th="http://www.thymeleaf.org">
        <head>
        <meta charset="UTF-8">
        <title>All Current Tasks</title>
</head>
<body>

<form method="post" action="/measure/add">
    <div>
        <label for="type">Type: </label>
        <select id="type" name="type">
            <option name="Current">Current</option>
            <option name="Density">Density</option>
            <option name="Temperature">Temperature</option>
            <option name="Weight">Weight</option>
        </select>
    </div>
    <div>
        <label for="localDate">LocalDate: </label>
        <input type="text" id="localDate" name="localDate" size="20" th:value="${curDate}">
    </div>
    <div>
        <label for="value">Value: </label>
        <input type="text" id="value" name="value" size="10">
    </div>
    <div>
        <label for="duration">Duration: </label>
        <input type="text" id="duration"
               name="duration" size="20">
    </div>
    <input type="submit">
</form>
<div>[(${someValue})]</div>
<h1>All Current Tasks</h1>
<table>
    <thead>
    <tr>
        <th>Name</th><th>Description</th><th>Priority</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="measure: ${measures}">
        <td th:text="${measure.type}"></td>
        <td th:text="${measure.date}"></td>
        <td th:text="${measure.value}"></td>
        <td th:text="${measure.duration}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>