# full iCEstick pinout:
# http://www.pighixxx.com/test/portfolio-items/icestick/

set_io CLK 69

set_io --warn-no-port RX 54
set_io --warn-no-port TX 56
set_io LED1 51
set_io LED2 52
set_io LED3 53

set_io CEn 18
set_io WEn 10
set_io OEn 30

set_io A0 25
set_io A1 24
set_io A2 21
set_io A3 20
set_io A4 19
set_io A5 9
set_io A6 8
set_io A7 7
set_io A8 4
set_io A9 3
set_io A10 2
set_io A11 1
set_io A12 42
set_io A13 41
set_io A14 40
set_io A15 29
set_io A16 28
set_io A17 27
set_io A18 26

set_io D0 16
set_io D1 15
set_io D2 13
set_io D3 12
set_io D4 37
set_io D5 36
set_io D6 34
set_io D7 33

set_io nd7 100
set_io nd6 99
set_io nd5 97
set_io nd4 96
set_io nd3 95
set_io nd2 94
set_io nd1 93
set_io nd0 91

set_io nce 90
set_io ncle 89
set_io nwe 87
set_io nre 86
set_io nale 85
