set_io LED1 42
set_io LED2 43
set_io btn1 44
set_io btn2 45


set_io lvds_in 32

set_io fpga_tx 19
set_io fpga_rx 18

set_io pwm_out 38


set_io xtal_in 20

#spi
set_io SPI_SS 16
set_io SPI_SCK 15
set_io SPI_MOSI 17
set_io SPI_MISO 14
